{% extends 'base.html.twig' %}

{% block title %}Prix{% endblock %}

{% block body %}
    <h1>Prix</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prix.id }}</td>
            </tr>
            <tr>
                <th>IdChambre</th>
                <td>{{ prix.idChambre }}</td>
            </tr>
            <tr>
                <th>PriceChambre</th>
                <td>{{ prix.priceChambre }}</td>
            </tr>
            <tr>
                <th>ReductionSaison</th>
                <td>{{ prix.reductionSaison }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('prix_index') }}">back to list</a>

    <a href="{{ path('prix_edit', {'id': prix.id}) }}">edit</a>

    {{ include('prix/_delete_form.html.twig') }}
{% endblock %}
