{% extends 'base.html.twig' %}

{% block title %}Hotel index{% endblock %}

{% block body %}
    <h1>Hotel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NameHotel</th>
                <th>WebsiteHotel</th>
                <th>EmailHotel</th>
                <th>PhoneNumberHotel</th>
                <th>AddressHotel</th>
                <th>DescriptionHotel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr>
                <td>{{ hotel.id }}</td>
                <td>{{ hotel.nameHotel }}</td>
                <td>{{ hotel.websiteHotel }}</td>
                <td>{{ hotel.emailHotel }}</td>
                <td>{{ hotel.phoneNumberHotel }}</td>
                <td>{{ hotel.addressHotel }}</td>
                <td>{{ hotel.descriptionHotel }}</td>
                <td>
                    <a href="{{ path('hotel_show', {'id': hotel.id}) }}">show</a>
                    <a href="{{ path('hotel_edit', {'id': hotel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('hotel_new') }}">Create new</a>
{% endblock %}
