{% extends 'base.html.twig' %}

{% block title %}Hotel{% endblock %}

{% block body %}
    <h1>Hotel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hotel.id }}</td>
            </tr>
            <tr>
                <th>NameHotel</th>
                <td>{{ hotel.nameHotel }}</td>
            </tr>
            <tr>
                <th>WebsiteHotel</th>
                <td>{{ hotel.websiteHotel }}</td>
            </tr>
            <tr>
                <th>EmailHotel</th>
                <td>{{ hotel.emailHotel }}</td>
            </tr>
            <tr>
                <th>PhoneNumberHotel</th>
                <td>{{ hotel.phoneNumberHotel }}</td>
            </tr>
            <tr>
                <th>AddressHotel</th>
                <td>{{ hotel.addressHotel }}</td>
            </tr>
            <tr>
                <th>DescriptionHotel</th>
                <td>{{ hotel.descriptionHotel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('hotel_index') }}">back to list</a>

    <a href="{{ path('hotel_edit', {'id': hotel.id}) }}">edit</a>

    {{ include('hotel/_delete_form.html.twig') }}
{% endblock %}
