{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>NameClient</th>
                <td>{{ client.nameClient }}</td>
            </tr>
            <tr>
                <th>EmailClient</th>
                <td>{{ client.emailClient }}</td>
            </tr>
            <tr>
                <th>PhoneNumberClient</th>
                <td>{{ client.phoneNumberClient }}</td>
            </tr>
            <tr>
                <th>CniClient</th>
                <td>{{ client.cniClient }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('client_index') }}">back to list</a>

    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
