{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumberAdulte</th>
                <th>NumberChild</th>
                <th>Status</th>
                <th>DateStartReservation</th>
                <th>DateEndReservation</th>
                <th>IdOption</th>
                <th>IdClient</th>
                <th>IdHotel</th>
                <th>IdChambre</th>
                <th>PrixTotal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.numberAdulte }}</td>
                <td>{{ reservation.numberChild }}</td>
                <td>{{ reservation.status ? 'Yes' : 'No' }}</td>
                <td>{{ reservation.dateStartReservation ? reservation.dateStartReservation|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.dateEndReservation ? reservation.dateEndReservation|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.idOption }}</td>
                <td>{{ reservation.idClient }}</td>
                <td>{{ reservation.idHotel }}</td>
                <td>{{ reservation.idChambre }}</td>
                <td>{{ reservation.prixTotal }}</td>
                <td>
                    <a href="{{ path('reservation_show', {'id': reservation.id}) }}">show</a>
                    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation_new') }}">Create new</a>
{% endblock %}
