{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>NumberAdulte</th>
                <td>{{ reservation.numberAdulte }}</td>
            </tr>
            <tr>
                <th>NumberChild</th>
                <td>{{ reservation.numberChild }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ reservation.status ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>DateStartReservation</th>
                <td>{{ reservation.dateStartReservation ? reservation.dateStartReservation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateEndReservation</th>
                <td>{{ reservation.dateEndReservation ? reservation.dateEndReservation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>IdOption</th>
                <td>{{ reservation.idOption }}</td>
            </tr>
            <tr>
                <th>IdClient</th>
                <td>{{ reservation.idClient }}</td>
            </tr>
            <tr>
                <th>IdHotel</th>
                <td>{{ reservation.idHotel }}</td>
            </tr>
            <tr>
                <th>IdChambre</th>
                <td>{{ reservation.idChambre }}</td>
            </tr>
            <tr>
                <th>PrixTotal</th>
                <td>{{ reservation.prixTotal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reservation_index') }}">back to list</a>

    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
