{% extends 'base.html.twig' %}

{% block title %}Chambre index{% endblock %}

{% block body %}
    <h1>Chambre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumberChambre</th>
                <th>EtageChambre</th>
                <th>NumberLitChambre</th>
                <th>DescriptionChambre</th>
                <th>StatusChambre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chambre in chambres %}
            <tr>
                <td>{{ chambre.id }}</td>
                <td>{{ chambre.numberChambre }}</td>
                <td>{{ chambre.etageChambre }}</td>
                <td>{{ chambre.numberLitChambre }}</td>
                <td>{{ chambre.descriptionChambre }}</td>
                <td>{{ chambre.statusChambre ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('chambre_show', {'id': chambre.id}) }}">show</a>
                    <a href="{{ path('chambre_edit', {'id': chambre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('chambre_new') }}">Create new</a>
{% endblock %}
