{% extends 'base.html.twig' %}

{% block title %}Chambre{% endblock %}

{% block body %}
    <h1>Chambre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chambre.id }}</td>
            </tr>
            <tr>
                <th>NumberChambre</th>
                <td>{{ chambre.numberChambre }}</td>
            </tr>
            <tr>
                <th>EtageChambre</th>
                <td>{{ chambre.etageChambre }}</td>
            </tr>
            <tr>
                <th>NumberLitChambre</th>
                <td>{{ chambre.numberLitChambre }}</td>
            </tr>
            <tr>
                <th>DescriptionChambre</th>
                <td>{{ chambre.descriptionChambre }}</td>
            </tr>
            <tr>
                <th>StatusChambre</th>
                <td>{{ chambre.statusChambre ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('chambre_index') }}">back to list</a>

    <a href="{{ path('chambre_edit', {'id': chambre.id}) }}">edit</a>

    {{ include('chambre/_delete_form.html.twig') }}
{% endblock %}
